[Unit]
Description=BirdNET BirdSound Extraction
[Service]
Environment=XDG_RUNTIME_DIR=/run/user/32011
Restart=on-failure
RestartSec=3
Type=simple
#User=phablet
ExecStart=/usr/bin/env bash -c "libertine-launch -i birdnet /home/phablet/BirdNET-Pixel/service/bin/extraction-pixel.sh"
[Install]
WantedBy=default.target
