Description=Watchdog Service to monitor, log and repair
[Timer]
OnBootSec=6min
OnUnitActiveSec=5min
Unit=birdnet_watchdog.service
[Install]
WantedBy=default.target
