[Unit]
Description=WireGuard tunnel for birdnet
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="SUDO_ASKPASS=/home/phablet/.local/bin/sudo-askpass"
ExecStartPre=/bin/sleep 30
ExecStart=sudo -A nmcli connection up wg0
ExecStop=sudo -A nmcli connection down wg0

[Install]
WantedBy=default.target
